button {
  background-color: rgb(190, 7, 7);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s;
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;
}