aside {
  width: 75px;
  position: fixed;
  top: 54px;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: white;
}

aside div {
  cursor: pointer;
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside div:hover {
  background-color: rgb(240, 236, 236);
}

aside div img {
  width: 24px;
}

aside div p {
  font-size: 10px;
  white-space: nowrap;
  margin-top: 5px;
}

